default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: gallery_development

test:
  <<: *default
  database: gallery_test

production:
  <<: *default
  database: gallery_production
  username: gallery
  password: <%= ENV['GALLERY_DATABASE_PASSWORD'] %>
